<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>Student List</title>
  </head>

  <body>
    <h1><a th:href="@{/addStudent}">Student List</a></h1>
    <h5><a th:href="@{/logout}">Logout</a></h5>

    <table border="1">
      <tr>
        <th>ID</th>
        <th>Student Number</th>
        <th>Name</th>
        <th>City</th>
        <th>Age</th>
        <th>Edit</th>
      </tr>
      <tr th:each="student : ${students}">
        <td th:text="${student.id}"></td>
        <td th:text="${student.student_id}"></td>
        <td th:text="${student.name}"></td>
        <td th:text="${student.city}"></td>
        <td th:text="${student.age}"></td>
        <td>
          <a th:href="@{/edit/{id}(id=*{student.id})}">Update</a>
          <a th:href="@{/delete/{id}(id=${student.id})}">Delete</a>
        </td>
      </tr>
    </table>
  </body>
</html>
